# 忽略日志文件
*.log
logs/
output.log

# 忽略模型参数文件
*.pth
*.pt
saved/

scif_data/
log/
logs/
datasets/
log_*
.vscode/
pretrain_checkpoints/
unlearning_checkpoints/
results/
*.npy
*.npz
*.csv
temp/
__pycache__/
*.pyc
*.pkl   
.DS_Store
.ipynb_checkpoints/
.idea/
checkpoint
*.ckpt
temp_files/
*.inter
*.item
*.user
*.json
*.pth